<!-- Footer -->
<footer class="page-footer font-small indigo container-fluid">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row justify-content-around py-5 ">
      <!-- Facebook -->
      <div class="nav nav-pills nav-fill ">
        <a class="nav-link " href="https://facebook.com/yosbel.martinez.73">
          <i class="fab fa-facebook-f  "> </i>
        </a>
        <!-- Twitter -->
        <a class=" nav-link " href="https://twitter.com/mgyosbel">
          <i class="fab fa-twitter "> </i>
        </a>
        <!-- Google +-->
        <a class="nav-link " href="https://github.com/MGYOSBEL">
          <i class="fab fa-github "> </i>
        </a>
        <!--Linkedin -->
        <a class="nav-link " href="https://www.linkedin.com/in/yosbel-martinez-a9652995/">
          <i class="fab fa-linkedin-in "> </i>
        </a>
        <!--Mail -->
        <a class="nav-link " href="mailto:mgyosbel@gmail.com">
          <i class="fab fa-google "> </i>
        </a>
      </div>
    </div>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="localhost:4200"> mgyosbel.com </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->