.page-footer{
    background-color: rgba(255, 255, 255, 0.35);
    color:seashell ;
    /* background-color: transparent; */
}

a{
    color:black;
}
 i{
     align-content: center;
 }
.fab{
    justify-items: center;
    align-content: center;
    padding: 0;
}

.col{
    padding:0;
    align-content: center;
}