<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Elements -->
  <div class="container ">

    <!-- Grid row-->
    <div class="row justify-content-around py-5 ">

      <!-- Grid column -->

      <!-- <div class="mb-5 justify-content-around"> -->
        <div class="col-2"></div>
      <!-- Facebook -->
      <a class="col-1" href="https://facebook.com/yosbel.martinez.73">
        <i class="fab fa-facebook-f  "> </i>
      </a>
      <!-- Twitter -->
      <a class="col-1" href="https://twitter.com/mgyosbel">
        <i class="fab fa-twitter "> </i>
      </a>
      <!-- Google +-->
      <a class="col-1" href="https://github.com/MGYOSBEL">
        <i class="fab fa-github "> </i>
      </a>
      <!--Linkedin -->
      <a class="col-1" href="https://www.linkedin.com/in/yosbel-martinez-a9652995/">
        <i class="fab fa-linkedin-in "> </i>
      </a>
      <!--Mail -->
      <a class="col-1" href="mailto:mgyosbel@gmail.com">
        <i class="fab fa-google "> </i>
      </a>
      <!-- </div> -->
      <div class="col-2"></div>
      <!-- Grid row-->
    </div>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="localhost:4200"> Kanban.com </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->