<section class="container-fluid row m-0 p-0">
    
    <div class="col col-12 col-md-5 m-0 p-0 ">
        <img src="../../../assets/img/developerDesktop.jpg" class="img-fluid align-self-center" id="img0">
    </div>
      
    <div class="col col-12 text-center col-md-7 offset-md-5" id="right-col">
        <h2 class="display-3">Desarrollador web</h2>
        <p class="py-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <button class="btn btn-outline-light">
            Ver perfil completo → 
        </button> 
        <div class="my-5"></div>       
    </div>
</section>
<!-- <div class="mx-0 py-0 my-2 py-2">

</div> -->

