.col{
    padding: 0;
    margin: 0;
    height: 100%;
}

.container-fluid{
    padding: 0;
    margin:0;
}


h2{
margin-top: 2em;

}

/* section{
    background: url('../../../assets/img/developerDesktop.jpg');
    background-size: ;
}

#right-col{
    background-color: rgb(26, 26, 26);
} */

.col img{
    max-height: 100%;
}