/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import "../node_modules/@fortawesome/fontawesome-free/css/brands.css"; 
@import "../node_modules/@fortawesome/fontawesome-free/css/solid.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";



*{
    padding: 0;
    margin: 0;
}

.fa-fish {
  color: salmon;
}

.fa-frog {
  color: green;
}

.fa-user-ninja.vanished {
  opacity: 0.0;
}

.fa-facebook {
  color: rgb(59, 91, 152);
}

body{
    /* background-image: url('assets/img/background.jpg'); */
    background-color: rgb(26,26,26);
}


html, body { 
    height: 100%; 
    
}
body { margin: 0; font-family: Roboto, Arial, Helvetica, sans-serif; color: #ffffff; }
